name: Pytest

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Create venv
        run: uv venv

      - name: Install package
        run: uv pip install -e . --group dev

      - name: Run unit tests (coverage)
        run: uv run pytest tests/unit --cov=containerl --cov-report=term-missing --cov-report=xml -q

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Create venv
        run: uv venv

      - name: Install package
        run: uv pip install -e . --group dev

      - name: Run integration tests (coverage)
        run: uv run pytest tests/integration -m integration --cov=containerl --cov-report=term-missing --cov-report=xml -q

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
